<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>shiyan9</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
       <filter>
    <filter-name>FilterSensitiveWord</filter-name>
    <filter-class>filter.FilterSensitiveWord</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterSensitiveWord</filter-name>
    <url-pattern>/ServletSentiveWord</url-pattern>
  </filter-mapping>
     <filter>
    <filter-name>FilterPermission</filter-name>
    <filter-class>filter.FilterPermission</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterPermission</filter-name>
    <url-pattern>/LoginAutoServlet</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/ServletCharacter</url-pattern>
  </filter-mapping>
   <filter>
    <filter-name>FirstFilter</filter-name>
    <filter-class>filter.FirstFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FirstFilter</filter-name>
    <url-pattern>/ServletCharacter</url-pattern>
  </filter-mapping>
</web-app>